/** COLOR (#color) **/

//background
$background: #222121;
$background-primary: #03E287;
$background-secondary: #BBB2A4;

//text
$color: #fff;
$toggle-color: #19282E;

//link


//border
$toggle-border: #02BA6F;


/** FONTS (#font) **/

$font-family: 'Fira Sans', sans-serif;
$font-family-title: 'Fauna One', serif;