<section class="section" id="disciplines" data-anchor="disciplines-section">
    <div class="slide first-slide">
        <div class="intro">
            <div class="content">
                <h2>
                    {{ include.first_title }}
                </h2>
                <hr>
                <div class="bloc">
                    <h3>
                        {{ include.first_desc_title }}
                    </h3>
                    <p>
                        {{ include.first_desc_content }}
                    </p>
                    <h3>
                        {{ include.second_desc_title }}
                    </h3>
                    <p>
                        {{ include.second_desc_content }}
                    </p>
                </div>
            </div>
        </div>
        <div class="description">
        </div>
        <div class="arrow center">
            <div class="arrowDown"><span class="icon-arrow-down"></span></div>
            <div class="arrowUp"><span class="icon-arrow-up"></span></div>
        </div>
        <div class="img-graphic-square"></div>
        <div class="img-angle"></div>
        <div class="img-graphic-arc"></div>
    </div>
    <div class="slide second-slide">
        <div class="title">
            <h2>
                {{ include.second_title }}
            </h2>
            <hr>
        </div>
        <div class="background"></div>
        <div class="arrow center">
            <div class="arrowDown"><span class="icon-arrow-down"></span></div>
            <div class="arrowUp"><span class="icon-arrow-up"></span></div>
        </div>
        <div class="img-graphic-square"></div>
        <div class="img-wave"></div>
        <div class="img-graphic-arc"></div>
    </div>
</section>