<section class="section active" id="home" data-anchor="home-section">
    <div class="content only-desktop">
        <h1>
            {{ include.devise }}
        </h1>
    </div>
    <div class="img-graphic-square"></div>
    <div class="img-angle"></div>
    <div class="img-graphic-arc"></div>
    <div class="img-graphic-square"></div>
    <div class="arrow center">
        <div class="arrowDown"><span class="icon-arrow-down"></span></div>
    </div>
    <canvas resize="true" hidpi="off" id="canvas" data-paper-scope="1" class="only-desktop"></canvas>
</section>