<section class="section" id="process" data-anchor="process-section">
    <div class="container">
        <div class="intro">
            <div class="only-mobile">
                <div class="group-icon">
                    <div class="icon-icon-creation"></div>
                    <h3>creation</h3>
                </div>
                <div class="group-icon">
                    <div class="icon-fill-4"></div>
                    <h3>development</h3>
                </div>
            </div>
            <h2>
                {{ include.main_title }}
            </h2>
            <p>
                {{ include.desc }}
            </p>
            <div class="only-mobile">
                <div class="group-icon">
                    <div class="icon-icon-strategy"></div>
                    <h3>strategy</h3>
                </div>
                <div class="group-icon">
                    <div class="icon-icon-value"></div>
                    <h3>value</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow center">
        <div class="arrowDown"><span class="icon-arrow-down"></span></div>
        <div class="arrowUp"><span class="icon-arrow-up"></span></div>
    </div>
    <div class="img-graphic-square"></div>
    <div class="img-wave"></div>
    <div class="img-graphic-arc"></div>
</section>